[user]
name = Martijn Vermaat
email = martijn@vermaat.name

[color]
ui = auto

[core]
pager = less -R
excludesfile = ~/.globalgitignore

[alias]
s = status
l = log --graph --abbrev-commit --date=relative --pretty='format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
b = branch --all --verbose
r = remote --verbose
d = diff --patience
f = fetch --all

[merge]
conflictstyle = diff3

[push]
default = simple
