[user]
name = Martijn Vermaat
email = martijn@vermaat.name

[color]
ui = auto

[core]
pager = less -R
excludesfile = ~/.globalgitignore

[alias]
b = branch --all --verbose
c = checkout
cm = commit
ca = commit --amend --no-edit
cl = !git clone $(echo $* | grep -q github.com && echo "-o github") $(echo $* | grep -q git.lumc.nl && echo "-o gitlab")
d = diff --patience
dc = diff --patience --cached
f = fetch --all
l = log --graph --abbrev-commit --date=relative --pretty='format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
la = log --graph --abbrev-commit --date=relative --pretty='format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all
r = remote --verbose
s = status

[merge]
conflictstyle = diff3

[push]
default = simple

[rerere]
enabled = true
