[user]
name = Martijn Vermaat
email = martijn@vermaat.name

[color]
ui = auto

[core]
pager = less -R

[format]
pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[alias]
s = status
l = log --graph --abbrev-commit --date=relative
b = branch --all --verbose
r = remote --verbose
d = diff --patience

[merge]
conflictstyle = diff3
