[submodule ".emacs.d/vendor/coffee-mode"]
	path = .emacs.d/vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/vendor/less-css-mode"]
	path = .emacs.d/vendor/less-css-mode
	url = https://github.com/purcell/less-css-mode
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/vendor/emacs-ctable"]
	path = .emacs.d/vendor/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule ".emacs.d/vendor/emacs-deferred"]
	path = .emacs.d/vendor/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule ".emacs.d/vendor/emacs-epc"]
	path = .emacs.d/vendor/emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule ".emacs.d/vendor/emacs-jedi"]
	path = .emacs.d/vendor/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule ".emacs.d/vendor/popup-el"]
	path = .emacs.d/vendor/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/vendor/fuzzy-el"]
	path = .emacs.d/vendor/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule ".emacs.d/vendor/yaml-mode"]
	path = .emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/vendor/cl-lib"]
	path = .emacs.d/vendor/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule ".emacs.d/vendor/emacs-python-environment"]
	path = .emacs.d/vendor/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment.git
[submodule ".emacs.d/vendor/ess"]
	path = .emacs.d/vendor/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule ".emacs.d/vendor/polymode"]
	path = .emacs.d/vendor/polymode
	url = https://github.com/vitoshka/polymode.git
