[submodule ".emacs.d/vendor/coffee-mode"]
	path = .emacs.d/vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/vendor/less-css-mode"]
	path = .emacs.d/vendor/less-css-mode
	url = https://github.com/purcell/less-css-mode
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/vendor/emacs-ctable"]
	path = .emacs.d/vendor/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule ".emacs.d/vendor/emacs-deferred"]
	path = .emacs.d/vendor/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule ".emacs.d/vendor/emacs-epc"]
	path = .emacs.d/vendor/emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule ".emacs.d/vendor/emacs-jedi"]
	path = .emacs.d/vendor/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule ".emacs.d/vendor/popup-el"]
	path = .emacs.d/vendor/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/vendor/fuzzy-el"]
	path = .emacs.d/vendor/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule ".emacs.d/vendor/yaml-mode"]
	path = .emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/vendor/emacs-python-environment"]
	path = .emacs.d/vendor/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment.git
[submodule ".emacs.d/vendor/ess"]
	path = .emacs.d/vendor/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule ".emacs.d/vendor/polymode"]
	path = .emacs.d/vendor/polymode
	url = https://github.com/vitoshka/polymode.git
[submodule ".emacs.d/vendor/flycheck"]
	path = .emacs.d/vendor/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule ".emacs.d/vendor/dash"]
	path = .emacs.d/vendor/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/vendor/smartparens"]
	path = .emacs.d/vendor/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule ".emacs.d/vendor/web-mode"]
	path = .emacs.d/vendor/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/vendor/editorconfig"]
	path = .emacs.d/vendor/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule ".emacs.d/vendor/ido-vertical-mode"]
	path = .emacs.d/vendor/ido-vertical-mode
	url = https://github.com/gempesaw/ido-vertical-mode.el.git
[submodule ".emacs.d/vendor/smex"]
	path = .emacs.d/vendor/smex
	url = https://github.com/nonsequitur/smex.git
[submodule ".emacs.d/vendor/undo-tree"]
	path = .emacs.d/vendor/undo-tree
	url = https://github.com/martijnvermaat/undo-tree.git
[submodule ".emacs.d/vendor/emacs-neotree"]
	path = .emacs.d/vendor/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule ".emacs.d/vendor/haskell-mode"]
	path = .emacs.d/vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/vendor/js2-mode"]
	path = .emacs.d/vendor/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule ".emacs.d/vendor/ag-el"]
	path = .emacs.d/vendor/ag-el
	url = https://github.com/Wilfred/ag.el.git
[submodule ".emacs.d/vendor/s"]
	path = .emacs.d/vendor/s
	url = https://github.com/magnars/s.el.git
[submodule ".emacs.d/vendor/org-mode"]
	path = .emacs.d/vendor/org-mode
	url = http://repo.or.cz/org-mode.git
[submodule ".emacs.d/vendor/seq"]
	path = .emacs.d/vendor/seq
	url = https://github.com/NicolasPetton/seq.el.git
[submodule ".emacs.d/vendor/magit"]
	path = .emacs.d/vendor/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/vendor/rainbow-mode"]
	path = .emacs.d/vendor/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule ".emacs.d/vendor/git-gutter"]
	path = .emacs.d/vendor/git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule ".emacs.d/vendor/visual-regexp"]
	path = .emacs.d/vendor/visual-regexp
	url = https://github.com/benma/visual-regexp.el.git
[submodule ".emacs.d/vendor/ido-ubiquitous"]
	path = .emacs.d/vendor/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule ".emacs.d/vendor/json-mode"]
	path = .emacs.d/vendor/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule ".emacs.d/vendor/json-snatcher"]
	path = .emacs.d/vendor/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher.git
[submodule ".emacs.d/vendor/json-reformat"]
	path = .emacs.d/vendor/json-reformat
	url = https://github.com/gongo/json-reformat.git
[submodule ".emacs.d/vendor/go-mode"]
	path = .emacs.d/vendor/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule ".emacs.d/vendor/markdown-mode"]
	path = .emacs.d/vendor/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule ".emacs.d/vendor/sprunge"]
	path = .emacs.d/vendor/sprunge
	url = https://github.com/tomjakubowski/sprunge.el
[submodule ".emacs.d/vendor/request"]
	path = .emacs.d/vendor/request
	url = https://github.com/tkf/emacs-request
